@model AIPS_2017.Models.HomeModel
@{
    Layout = /*"~/Views/Shared/_Layout.cshtml";*/null;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="~/Content/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Light Bootstrap Home by Creative Tim</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="/signalr/hubs"></script>

    <!-- Bootstrap core CSS     -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <!-- Animation library for notifications   -->
    <link href="~/Content/css/animate.min.css" rel="stylesheet" />
    <!--  Light Bootstrap Table core CSS    -->
    <link href="~/Content/css/light-bootstrap-dashboard.css" rel="stylesheet" />

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="~/Content/css/demo.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    @*<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>*@
    <link href="~/Content/css/pe-icon-7-stroke.css" rel="stylesheet" />
</head>

<body style="background-image: url('../../Content/img/home/home.jpg');">

    <nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom:0px; opacity:1; background-color: white;">
        <div class="container-fluid" style="padding-top:0px; padding-bottom:0px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="icon-bar" style="background-color:#337ab7;"></span>
                    <span class="icon-bar" style="background-color:#337ab7;"></span>
                    <span class="icon-bar" style="background-color:#337ab7;"></span>
                </button>
                <a class="navbar-brand" href="~/Home/Home" style="color:#337ab7;"> Creative Tim </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" style="text-align:center;">
                    <li class="active"> @Html.ActionLink("Home", "Home", "Home", new { UserId = Model.UserId, Status = Model.Status, Name = Model.Name }, new { @style = "color:#337ab7;" }) </li>

                    @if (Model.Status == "user")
                    {

                        <li> @Html.ActionLink("Hi " + Model.Name, "Home", "Home", new { UserId = Model.UserId, Status = Model.Status, Name = Model.Name }, new { @style = "color:#337ab7;" })</li>
                    }
                    else
                    {
                        <li> @Html.ActionLink("Admin " + Model.Name, "Admin", "Home", new { UserId = Model.UserId, Status = Model.Status, Name = Model.Name }, new { @style = "color:#337ab7;" }) </li>
                    }

                    <li> <a href="@Url.Action("LogOut", "LogIn")" style="color:#337ab7;"> Log out <span class="glyphicon glyphicon-log-out"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>







    @*start*@
    <div style="margin-top:100px; margin-left:50px; margin-right:50px">

        
        <div class="col-lg-8 col-md-8 col-sm-12" style ="width: 100%; text-align: center;">
            <button style="display:inline-block; width:75%; color:white; background-color: #337ab7;font-size: x-large;/* color:#337ab7; */" data-toggle="modal" data-target="#AddRoomModal" class="btn btn-block btn-lg">Create A New Room</button>
        </div>
        

        <div id="AddRoomModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="text-align:center; color:#337ab7;">Add new room here</h4>
                    </div>

                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row" style="margin-bottom: 10px;margin-left:5px; margin-right:5px; text-align:center;">
                                Room name
                                <input type="text" name="RoomToAdd" id="RoomToAdd"/>
                            </div>
                            <div class="row" style="margin-bottom: 10px; margin-left: 5px; margin-right: 5px; text-align: center; "> <button type="button" class="btn btn-primary btn-block" id="AddingRoomButton">Add Room</button></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <br><br>

        <p style="clear: left; text-align:center; color:white; font-size:30px">Or Join To An Existing Room:</p>


        @*ovde se dodaju sobe*@
        <table class="table table-bordered" style="background-color:white; border-right:none; border-bottom:none">
            <tbody id="HomeRooms">

            </tbody>
        </table>

        

        <div style ="width: 100%; text-align: center;"class="col-md-8 col-sm-12" id="rooms">
            
            @for (var i = 0; i < Model.SviPlanovi().Count; i++)
            {
                var planovi = Model.SviPlanovi();
                <div style="opacity:0.93; display: inline-block; width:75%;" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title ">
                                <a data-toggle="collapse" href="#@planovi[i].Id" class="panel-title btn-block" aria-expanded="true" style="font-size: xx-large; color: #337ab7;">@planovi[i].Name</a>
                            </h4>
                        </div>
                        <div id=@planovi[i].Id class="panel-collapse collapse">
                            <div class="panel-body">
                                <div id="AddUsersToList@(planovi[i].Id)">
                                    @*aktivan je master*@
                                    <a style="font-size:large;" class="list-group-item active">@Model.ReturnMaster(planovi[i].Id).FirstName @Model.ReturnMaster(planovi[i].Id).LastName</a>
                                    @*ostali su se pridruzili*@
                                    @foreach (var user in Model.ReturnJoined(planovi[i].Id))
                                    {
                                        <a style="font-size:large; background-color: #c7d2de;" class="list-group-item">@user.FirstName @user.LastName</a>
                                    }
                                    @*<a style="font-size:large; background-color: #c7d2de;" class="list-group-item">Predrag Čukalović</a>
                                    <a style="font-size:large; background-color: #c7d2de;" class="list-group-item">Marko Radosavljević</a>
                                    <a style="font-size:large; background-color: #c7d2de;" class="list-group-item">Predrag Nikolić</a>*@
                                </div>
                            </div>
                            <div class="panel-footer">
                                <button @*onclick="joinRoom(@planovi[i].Id, @Model.UserId, @planovi[i].UserId)"*@ id="JoinRoomButton@(planovi[i].Id)" style="color: white; background-color: #337ab7; font-size: large;" class="btn btn-block">Join This Room</button>
                            </div>
                        </div>
                    </div>
                </div>


                <script>
                    $('#JoinRoomButton' + '@planovi[i].Id').click(function () {
                        $.connection.serverHub.server.join('@planovi[i].Id', '@Model.UserId', '@planovi[i].UserId');
                    });
                </script>


            }

            
        </div>
    
    </div>



    <script>

        $.connection.hub.start().done(function () {
            $('#AddingRoomButton').click(function () {
                //window.location.href = "/Dashboard/AddUserToRoom/?SceneId=" + sceneId + "&UserId=" + "Model.UserId"; //dodavanje u dictionary
                $.connection.serverHub.server.addRoom('@Model.UserId', $("#RoomToAdd").val());
            });



        });

        $.connection.serverHub.client.addRoom = function (planId, name, firstName, lastName, userId) {
            AddRoom(planId, name, firstName, lastName, userId)
        };



        $.connection.serverHub.client.joinRoom = function (planId, firstName, lastName) {
            var a = $('<a></a>', {
                style: 'font-size:large; background-color: #c7d2de;',
                class: 'list-group-item',
                text: firstName + " " + lastName
            });

            $("#AddUsersToList" + planId).append(a);
        };



        $.connection.serverHub.client.toDashboard = function (planId, niz, masterId) {
            if ($.inArray(@Model.UserId, niz) != -1)
                location.href = '@Url.Action("Dashboard", "Dashboard")?id=' + planId + '&UserId=' + '@Model.UserId' + '&Status=' + '@Model.Status' + '&Name=' + '@Model.Name' + '&MasterId=' + masterId;
        };


        function AddRoom(planId, name, firstName, lastName, userId)
        {
            var div1 = $('<div></div>', {
                style: 'opacity:0.93; display: inline-block; width:75%;',
                class: 'panel-group'
            });

            var div2 = $('<div></div>', {
                class: 'panel panel-default'
            });
            div1.append(div2);

            var div3 = $('<div></div>', {
                class: 'panel-heading'
            });
            div2.append(div3);

            var h4 = $('<h4></h4>', {
                class: 'panel - title'
            });
            div3.append(h4);

            var a1 = $('<a></a>', {
                class: 'panel-title btn-block',
                style: 'font-size: xx-large; color: #337ab7;',
                text: name
            });
            a1.attr("data-toggle", "collapse");
            a1.attr("href", "#" + planId);
            a1.attr("aria-expanded", true);
            h4.append(a1);

            var div4 = $('<div></div>', {
                class: 'panel-collapse collapse',
                id: planId
            });
            div2.append(div4);

            var div5 = $('<div></div>', {
                class: 'panel-body',
            });
            div4.append(div5);

            var div6 = $('<div></div>', {
                id: "AddUsersToList" + planId
            });

            var a2 = $('<a></a>', {
                class: 'list-group-item active',
                style: 'font-size:large;',
                text: firstName + " " + lastName
            });
            div6.append(a2);
            div5.append(div6);

            var div7 = $('<div></div>', {
                class: 'panel-footer',
            });

            var button = $('<button></button>', {
                id: "JoinRoomButton" + planId,
                style: 'color: white; background-color: #337ab7; font-size: large;',
                class: 'btn btn-block',
                text: "Join This Room"
            });
            div7.append(button);
            div4.append(div7);

            button.click(function () {
                $.connection.serverHub.server.join(planId, '@Model.UserId', userId);
            });



            $("#rooms").append(div1);
            @*$.ajax({
                data: {},
                datatype: 'json',
                success: function (data) {

                    var tr = $('<tr></tr>', {
                        style: 'text-align:center;'
                    });

                    var td = $('<td></td>', {
                        style: 'text-align:center;font-weight:700;',
                        text: name
                    });
                    tr.append(td);

                    var td = $('<td></td>', {
                        style: 'text-align:center'
                    });
                    tr.append(td);

                    var form = $('<form></form>', {
                        method: 'get',
                        action: '@Url.Action("Dashboard", "Dashboard")'
                    });
                    td.append(form);

                    var planid = $('<input></input>', {
                        type: 'hidden',
                        name: 'id',
                        value: planId
                    });
                    form.append(planid);

                    //start home model

                    var UserId = $('<input></input>', {
                        type: 'hidden',
                        name: 'UserId',
                        value: '@Model.UserId'
                    });
                    form.append(UserId);

                    var Status = $('<input></input>', {
                        type: 'hidden',
                        name: 'Status',
                        value: '@Model.Status'
                    });
                    form.append(Status);

                    var Name = $('<input></input>', {
                        type: 'hidden',
                        name: 'Name',
                        value: '@Model.Name'
                    });
                    form.append(Name);

                    //end home model





                    var button = $('<button></button>', {
                        type: 'submit',
                        style: 'text-align:center',
                        text: "Join"
                    });
                    form.append(button);


                    $("#HomeRooms").append(tr);
                },
                error: function () {
                    alert("error");
                }
            });*@
        }

    </script >

    <!--   Core JS Files   -->
    <script src="~/Scripts/js/bootstrap.min.js" type="text/javascript"></script>
    <!--  Checkbox, Radio & Switch Plugins -->
    <script src="~/Scripts/js/bootstrap-checkbox-radio-switch.js"></script>
    <!--  Charts Plugin -->
    <script src="~/Scripts/js/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/Scripts/js/bootstrap-notify.js"></script>
    <!--  Google Maps Plugin    -->
    @*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>*@
    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="~/Scripts/js/light-bootstrap-dashboard.js"></script>
    <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
    <script src="~/Scripts/js/demo.js"></script>

</body>

</html>
