@model AIPS_2017.Models.HomeModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="~/Content/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Light Bootstrap Dashboard by Creative Tim</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="/signalr/hubs"></script>


    <script type="text/javascript" src="~/Scripts/libs/three.js"></script>
    <script type="text/javascript" src="~/Scripts/libs/stats.js"></script>
    <script type="text/javascript" src="~/Scripts/libs/dat.gui.js"></script>
    <script type="text/javascript" src="~/Scripts/libs/OrbitControls.js"></script>
    <script type="text/javascript" src="~/Scripts/libs/Projector.js"></script>

    <!-- Bootstrap core CSS     -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <!-- Animation library for notifications   -->
    <link href="~/Content/css/animate.min.css" rel="stylesheet" />
    <!--  Light Bootstrap Table core CSS    -->
    <link href="~/Content/css/light-bootstrap-dashboard.css" rel="stylesheet" />

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="~/Content/css/demo.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="~/Content/css/pe-icon-7-stroke.css" rel="stylesheet" />
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom:0px; opacity:1; background-color: white;">
        <div class="container-fluid" style="padding-top:0px; padding-bottom:0px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="icon-bar" style="background-color:#337ab7;"></span>
                    <span class="icon-bar" style="background-color:#337ab7;"></span>
                    <span class="icon-bar" style="background-color:#337ab7;"></span>
                </button>
                <a class="navbar-brand" href="~/Home/Home" style="color:#337ab7;"> Supellex </a>
                <a id="crtac" class="navbar-brand" href="#" style="margin-left:25vw; color:#337ab7;"> Predrag Cukalovic is drawing</a>
                
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" style="text-align:center;">
                    <li class="active"> @Html.ActionLink("Home", "Home", "Home", new { UserId = Model.UserId, Status = Model.Status, Name = Model.Name }, new { @style = "color:#337ab7;" }) </li>

                    @if (Request["Status"] == "user")
                    {

                        <li> @Html.ActionLink("Hi " + Request["Name"], "Home", "Home", new { UserId = Model.UserId, Status = Model.Status, Name = Model.Name }, new { @style = "color:#337ab7;" })</li>
                    }
                    else
                    {
                        <li> @Html.ActionLink("Admin " + Request["Name"], "Admin", "Home", new { UserId = Model.UserId, Status = Model.Status, Name = Model.Name }, new { @style = "color:#337ab7;" }) </li>
                    }

                    <li> <a href="@Url.Action("LogOut", "LogIn")" style="color:#337ab7;"> Log out <span class="glyphicon glyphicon-log-out"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>






    <div id="vrataModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Vrata</h4>
                </div>
                <div class="modal-body">
                    <form>

                        <div style="float: left;">Dodaj vrata po pregradama:</div>
                        <div style="float: left;" id="VrataContainer">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="dodajVrata" type="button" class="btn btn-success">Dodaj</button>
                    <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>
    </div>


    <div id="fiokeModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Fioke</h4>
                </div>
                <div class="modal-body">
                    <form>

                        <div style="float: left;">Dodaj Fioke Pregradama:</div>
                        <div style="float: left;" id="FiokeContainer">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="dodajFioke" type="button" class="btn btn-success">Dodaj</button>
                    <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>
    </div>

    <div id="pregradeModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pregrade</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div>
                            <div style="float: left;">Broj Pregrada:</div>
                            <input id="brojPregrada" style="margin-left: 10%;" type="number" name="quantity" min="1" max="5">
                        </div>
                        <div>
                            <div>Polozaj:</div>
                            <input id="pregradeVertikalno" style="float: left; margin-left: 10%;" type="radio" name="polozaj" value="Vertikalno" checked>Vertikalno<br>
                            <input id="pregradeHorizontalno" style="margin-left: 10%;" type="radio" name="polozaj" value="Horizontalno">Horizontalno<br>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="dodajPregrade" type="button" class="btn btn-success">Dodaj</button>
                    <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>
    </div>




    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="panel panel-default" id="context-menu" style="margin: 5px 10px">

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Odabir Teksture</h1>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive slika" src="~/Content/textures/box/w1.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive slika" src="~/Content/textures/box/w2.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive slika" src="~/Content/textures/box/w3.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive slika" src="~/Content/textures/box/w4.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive slika" src="~/Content/textures/box/w6.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive slika" src="~/Content/textures/box/w5.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive slika" src="~/Content/textures/box/w7.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive slika" src="~/Content/textures/box/w8.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive slika" src="~/Content/textures/box/w9.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive slika" src="~/Content/textures/box/w10.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive slika" src="~/Content/textures/box/w11.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive slika" src="~/Content/textures/box/w12.jpg" alt="">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="sidebar" data-color="blue" style="background-color:blue">
        <!--

            Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
            Tip 2: you can also add an image using data-image tag

        -->
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
                    Supellex
                </a>
            </div>
            <ul class="nav">

                @*<li id="daska" class="active">
                    <a>
                        <i class="pe-7s-photo-gallery"></i>
                        <input type="button" id="daska1" value="Daska" />
                    </a>
                </li>*@
                <li class="active">
                    
                    <a href="#" style="color:white;">
                        <i class="glyphicon glyphicon-ok"></i>
                        <p>Zavrsi crtanje</p> 
                    </a>
                </li>
                
                <li id="kutija" class="active">
                    <a>
                        <i class="pe-7s-box2"></i>
                        <p>Nova Kutija</p>
                        @*<input type="button" id="kutija1" value="Kutija" />*@
                    </a>
                </li>
                @*<li id="fioka" class="active">
                    <a>
                        <i class="pe-7s-menu"></i>
                        <input type="button" id="fioka1" value="Fioka" />
                    </a>
                </li>*@
                @*<li id="vrata" class="active">
                    <a>
                        <i class="pe-7s-door-lock"></i>
                        <input type="button" id="vrata1" value="Vrata" />
                    </a>
                </li>*@
            </ul>



            @*start*@
            <script>
                $.connection.hub.start().done(function () {

                    //dodavanje objekata
                    $('#dodajPregrade').click(function () {
                        $.connection.serverHub.server.drawBoard('@Request["id"]', $("#brojPregrada").val(), document.getElementById("pregradeVertikalno").checked);
                    });

                    $('#kutija').click(function () {
                        $.connection.serverHub.server.drawBox('@Request["id"]');
                    });

                    $('#dodajFioke').click(function () {
                        var nodes = document.getElementById("FiokeContainer").childNodes;
                        var niz = [];
                        for (var i = 0; i < nodes.length; i++)
                            niz.push(nodes[i].firstChild.checked);
                        $.connection.serverHub.server.drawDrawer('@Request["id"]', niz);
                    });

                    $('#dodajVrata').click(function () {
                        var nodes = document.getElementById("VrataContainer").childNodes;
                        var niz = [];
                        for (var i = 0; i < nodes.length; i++)
                            niz.push(nodes[i].firstChild.checked);
                        $.connection.serverHub.server.drawDoor('@Request["id"]', niz);
                    });

                    $('#context-menu-delete').click(function () {
                        $.connection.serverHub.server.deleteBox('@Request["id"]');
                    });

                    $.each($('.slika'), function (index, slika) {
                        slika.onclick = function () {
                            $.connection.serverHub.server.changeTexture('@Request["id"]', index + 1);
                        };
                    });

                    $('#btn_upd').click(function () {
                        var width = parseFloat(document.getElementById("item-width").value);
                        var height = parseFloat(document.getElementById("item-height").value);
                        var depth = parseFloat(document.getElementById("item-depth").value);
                        var thickness = parseFloat(document.getElementById("item-debljina").value);
                        $.connection.serverHub.server.updateBox('@Request["id"]', width, height, depth, thickness);
                    });

                    //pozivanje funkcije servera
                    $('#WebGL-output').mousedown(function (e) {
                        $.connection.serverHub.server.mouseDownObject(e.clientX / host.offsetWidth, e.clientY / window.innerHeight, '@Request["id"]');
                    });

                    $('#WebGL-output').mousemove(function (e) {
                        $.connection.serverHub.server.mouseMoveObject(e.clientX / host.offsetWidth, e.clientY / window.innerHeight, '@Request["id"]');
                    });

                    $('#WebGL-output').mouseup(function (e) {
                        $.connection.serverHub.server.mouseUpObject(e.clientX / host.offsetWidth, e.clientY / window.innerHeight, '@Request["id"]');
                    });

                });

                //odgovor klijenta na dodavanje objekta
                $.connection.serverHub.client.drawBoard = function (getParameter, brojPregrada, vertikalno) {
                    if (@Request["id"] == getParameter)
                        dodajPregradeSignalR(brojPregrada, vertikalno);
                };

                $.connection.serverHub.client.drawBox = function (getParameter) {
                    if (@Request["id"] == getParameter)
                        addKutija();
                };

                $.connection.serverHub.client.drawDrawer = function (getParameter, niz) {
                    if (@Request["id"] == getParameter)
                        dodajFiokeSignalR(niz);
                };

                $.connection.serverHub.client.drawDoor = function (getParameter, niz) {
                    if (@Request["id"] == getParameter)
                        dodajVrataSignalR(niz);
                };

                $.connection.serverHub.client.deleteBox = function (getParameter) {
                    if (@Request["id"] == getParameter)
                        deleteBox();
                };

                $.connection.serverHub.client.changeTexture = function (getParameter, num) {
                    if (@Request["id"] == getParameter)
                        changeTexture(num);
                };

                $.connection.serverHub.client.updateBox = function (getParameter, width, height, depth, thickness) {
                    if (@Request["id"] == getParameter)
                        updateBox(width, height, depth, thickness);
                };

                //manevracije objektom
                $.connection.serverHub.client.mouseDownObject = function (x, y, getParameter) {
                    if (@Request["id"] == getParameter)
                        ObjectMouseDown(x, y);
                };

                $.connection.serverHub.client.mouseMoveObject = function (x, y, getParameter) {
                    if (@Request["id"] == getParameter)
                        ObjectMouseMove(x, y);
                };

                $.connection.serverHub.client.mouseUpObject = function (x, y, getParameter) {
                    if (@Request["id"] == getParameter)
                        ObjectMouseUp(x, y);
                };
            </script>
            @*end*@


            <div class="panel panel-default" id="context-menu" style="background-color:rgba(97, 112, 127, 0.39); margin: 5px 10px">
                <div style="margin: 0 20px">
                    <a id="context-menu-name" class="lead">
                        Izmeni
                    </a>
                </div>

                <ul class="nav">

                    <li id="daska" class="active">
                        <a data-toggle="modal" data-target="#pregradeModal">
                            <i class="pe-7s-photo-gallery"></i>
                            <p>Dodaj Pregrade</p>
                            @*<input type="button" id="daska1" value="Dodaj Pregrade" />*@
                        </a>
                    </li>

                    <li id="fioka" class="active">
                        <a data-toggle="modal" data-target="#fiokeModal">
                            <i class="pe-7s-menu"></i>
                            <p>Dodaj Fioke</p>
                            @*<input type="button" id="fioka1" value="Dodaj Fioke" />*@
                        </a>
                    </li>

                    <li id="vrata" class="active">
                        <a data-toggle="modal" data-target="#vrataModal">
                            <i class="pe-7s-door-lock"></i>
                            <p>Dodaj Vrata</p>
                            @*<input type="button" id="vrata1" value="Dodaj Vrata" />*@
                        </a>
                    </li>

                </ul>


                <button style ="color: white;" class="btn btn-block" id="context-menu-delete">
                    <span class="glyphicon glyphicon-trash"></span>
                    Delete Item
                </button>
                <button style ="color: white;" class="btn btn-block" id="context-menu-change" data-toggle="modal" data-target="#myModal">
                    <span class="glyphicon glyphicon-th"></span>
                    Change texture
                </button>
                <button style ="color: white;" class="btn btn-block" id="btn_upd" class="btn btn-primary">Update</button>
                <div class="panel panel-default">
                    <div class="panel-heading">Adjust Size</div>
                    <div class="panel-body" style="color : #333333">
                        <div class="form form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-5 control-label" id="item-name">
                                    Width
                                </label>
                                <div class="col-sm-6">
                                    <input type="number" class="form-control" id="item-width" value="0">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-5 control-label">
                                    Depth
                                </label>
                                <div class="col-sm-6">
                                    <input type="number" class="form-control" id="item-depth" value=0>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-5 control-label">
                                    Height
                                </label>
                                <div class="col-sm-6">
                                    <input type="number" class="form-control" id="item-height" value=0>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-5 control-label">
                                    Debljina daske
                                </label>
                                <div class="col-sm-6">
                                    <input type="number" class="form-control" id="item-debljina" value=0>
                                </div>
                            </div>

                            @*<div class="form-group">
                                <label class="col-sm-5 control-label">
                                    x
                                </label>
                                <div class="col-sm-6">
                                    <input type="number" class="form-control" id="item-posX" value=0>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-5 control-label">
                                    y
                                </label>
                                <div class="col-sm-6">
                                    <input type="number" class="form-control" id="item-posY" value=0>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-5 control-label">
                                    z
                                </label>
                                <div class="col-sm-6">
                                    <input type="number" class="form-control" id="item-posZ" value=0>
                                </div>
                            </div>*@

                        </div>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <input style ="color: white" class="btn btn-block" type="button" id="SaveConfiguration" value="Save Configuration" onclick="SaveConfiguration('@Request["id"]')" />
                </div>
            </div>
            <!--
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
            -->

        </div>
    </div>

    <div id="WebGL-output" class="content">

    </div>

    
    <!--   Core JS Files   -->
    @*<script src="~/Scripts/js/jquery-1.10.2.js" type="text/javascript"></script>*@
    <script src="~/Scripts/js/bootstrap.min.js" type="text/javascript"></script>
    <!--  Checkbox, Radio & Switch Plugins -->
    <script src="~/Scripts/js/bootstrap-checkbox-radio-switch.js"></script>
    <!--  Charts Plugin -->
    <script src="~/Scripts/js/chartist.min.js"></script>
    
    <script src="~/Scripts/js/main.js"></script>
    <script src="~/Scripts/js/Box.js"></script>
    <script src="~/Scripts/js/Daska.js"></script>
    <script src="~/Scripts/js/Fioka.js"></script>
    <script src="~/Scripts/js/Vrata.js"></script>      
    <script src="~/Scripts/js/Circles.js"></script>
    <script src="~/Scripts/js/objekt.js"></script>


    <!--  Notifications Plugin    -->
    <script src="~/Scripts/js/bootstrap-notify.js"></script>
    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="~/Scripts/js/light-bootstrap-dashboard.js"></script>
    <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
    <script src="~/Scripts/js/demo.js"></script>

</body>

</html>
